* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #395144;
  font-family: "Andika", sans-serif;
  font-family: "Belanosima", sans-serif;
}

.loading-layer {
  transition: all 0.8s;
}
i {
  color: rgb(255, 191, 107);
}
.spinner {
  animation: spin 2s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo {
  width: 35px;
}
.outer-side-bar {
  background-color: #85a389;
}

.list-unstyled > * {
  margin-bottom: 20px;
  font-size: 18px;
}

.meal-layer {
  background-color: rgba(0 0 0 / 0.5);
  transition: top 0.3s;
}

.meal:hover .meal-layer {
  top: 0 !important;
}
aside {
  transition: transform 0.5s;
}
.area,
.ingrediant,
.inner-side-bar {
  background-color: #798777;
}
input {
  padding: 10px;
  border-radius: 8px;
  background-color: #798777 !important;
  width: 49% !important;
  margin-bottom: 20px;
  color: white !important;
}
input::placeholder {
  color: white !important;
}
input:focus {
  outline: none !important;
  box-shadow: none !important;
}
.meal,
i,
li,
.ingrediant,
.area {
  cursor: pointer;
}
.ingrediant,
.area {
  transition: all 0.3s;
}
.ingrediant:hover,
.area:hover {
  background-color: rgba(0 0 0 / 0.5);
}
